@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --lightGreen: #d7ffe4;
    --green: #00ff55;
    --darkGreen: #004918;
    --darkerGreen: #062511;
    --white: #ffffff;
    --black: #000000;
    font-size: 20px;
}

*{
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

body{
    visibility: hidden;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

.textCursor{
    background-color: var(--white);
    color: var(--white);
}

nav{
    position: fixed;
    background-color: var(--darkGreen);
    margin: o;
    display: flex;
    height: 4em;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    top: 0;

}

nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 0px var(--white);
    transition: text-shadow 0.1s, color 0.1s, scale 0.1s;
}

nav a:hover{
    color: var(--lightGreen);
    text-shadow: 0.3em 0.3em var(--darkerGreen);
    scale: 1.2;
}

nav a:active{
    scale: 0.8;
}

nav img{
    height: 5em;
    width: 5em;
}

#home{
    background-color: var(--black);
    padding: 0 0 4em 0;
    margin: 0;
    height: calc(100vh);
    display: flex;
    top: 0;
    justify-content: center;
    flex-direction: column;
    font-size: 23px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container img{
    width: 400px;
    border: 3px solid var(--white);
    border-radius: 2em;
    margin-left: 4em;
    animation: infinite 3.2s boxGlowUp;
}

.headerText{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headerText *{
    animation: infinite 2s textGlowUp;
}

@keyframes textGlowUp {
    0%{
        text-shadow: 0px 0px 1em var(--green), 0px 0px 2em var(--green);
    }
    20%{
        text-shadow: 0px 0px 2em var(--green), 0px 0px 3em var(--green);
    }
    40%{
        text-shadow: 0px 0px 1em var(--green), 0px 0px 2em var(--green);
    }
    70%{
        text-shadow: 0px 0px 3em var(--green), 0px 0px 5em var(--green);
    }
    100%{
        text-shadow: 0px 0px 1em var(--green), 0px 0px 2em var(--green);
    }
}

@keyframes boxGlowUp {
    0%{
        box-shadow: 0px 0px 1em 0em var(--green);
    }
    20%{
        box-shadow: 0px 0px 2em 0em var(--green);
    }
    40%{
        box-shadow: 0px 0px 1em 0em var(--green);
    }
    70%{
        box-shadow: 0px 0px 3em 0em var(--green);
    }
    100%{
        box-shadow: 0px 0px 1em 0em var(--green);
    }
}

@media (max-width: 1029px) {
    .container{
        justify-content: center;
        flex-direction: column;
    }
    
    .headerText *{
        text-align: center;
    }

    .container img{
        margin: 2em auto;
    }
}