@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --darkGreen: #004918;
    --white: #ffffff;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    visibility: hidden;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

.textCursor{
    background-color: forestgreen;
    color: forestgreen;
}

nav{
    position: sticky;
    background-color: var(--darkGreen);
    margin: o;
    display: flex;
    height: 6em;
    flex-direction: column;
    justify-content: center;
}

nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a{
    color: var(--white) !important;
    text-decoration: none;
}