body{
    visibility: visible;
}

:root{
    font-size: 14px;
}

.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container img{
    width: 200px;
    margin: 0 auto;
    display: block;
    animation: none;
    margin-top: 1.5em;
}

.headerText *{
    animation: none;
    text-align: center;
}

#home{
    font-size: 15px;
}

.foot .container img{
    width: 130px;
}

.foot{
    font-size: 0.9em;
}

.card{
    height: fit-content;
}

.card *{
    text-align: center;
}